.info-container {
    grid-column: 2 / 12;
    padding-left: 200px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 700px;

    &__social {
        padding: 0;

        &__item {
            text-decoration: none;
            list-style: none;
            padding-right: 1rem;
            display: inline-block;
            color: $midnight-blue;
        }
    }
}

.separador {
    max-width: 80vw;
    width: 100%;
    height: 1px;
    background-color: $quick-silver;
    margin: 50px auto;
}


.experiencia-container {

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}


.container-between {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.avatar-container__block {
    display: none;
}


.contact-container {
    margin: 1.4rem 0;

    &__component {

        &__input {
            padding: 1rem 0;

            &__message {
                padding: 1rem;
                border-radius: 5px;
                font-size: $large;
                color: $midnight-blue;
                border: 1px solid $quick-silver;
                margin: 1rem 0;
                max-width: 70vw;
                width: 100%;
                height: 100px;
                overflow: scroll;

            }
        }
    }

}